{% extends "Josaa/base.html" %}

{% block content %}

<div>    
    <div class="grid grid-cols-1 mt-7 gap-6 ">
        <a class="flex  flex-col bg-cyan-950 shadow-lg  rounded-lg h-28 transition ease-out duration-300 relative cursor-pointer" href="/aboutQues1">
            <p class="text-lg  hover:text-white  font-bold px-4  text-slate-100 my-3" style="font-size:1.6vw;"> What is the trend in the opening and closing ranks for popular branches?</p>
            
            <p class="absolute bottom-2 right-2 text-white" style="font-family: commanders; font-size:1.4vw"> Click to view </p>
        </a>

        <a class="flex flex-col pt-4 bg-cyan-950 pb-4  shadow-lg  rounded-lg h-28 transition ease-out duration-300 relative" href="/aboutQues2">
        
            <p class="text-xl hover:text-white font-bold px-4 py-0.75 text-slate-100" style="font-size:1.6vw;"> What is the flow of students among IITs in years?</p>
            <p class="absolute bottom-2 right-2 text-white" style="font-family: commanders;font-size:1.4vw"> Click to view </p>
        
        </a>
        <a class="flex flex-col pt-4 pb-4 bg-cyan-950   shadow-lg  rounded-lg h-28 transition ease-out duration-300 relative" href="/aboutQues5">
            <p class="text-xl text-white font-bold px-4 py-0.75" style="font-size:1.6vw;"> Are there any branches that have seen a decline in popularity among female candidates specifically?</p>
            <p class="absolute  bottom-2 right-2 text-white" style="font-family: commanders;font-size:1.4vw"> Click to view </p>
        </a>

        <a class="flex flex-col pt-4 pb-4 bg-cyan-950   shadow-lg  rounded-lg h-28 transition ease-out duration-300 relative" href="/aboutQues4">
            <p class="text-xl text-white font-bold px-4 py-0.75" style="font-size:1.6vw;"> Is there a correlation between the rank of a candidate and their preferred branch? </p>
            <p class="absolute bottom-2 right-2 text-white" style="font-family: commanders;font-size:1.4vw"> Click to view </p>
        </a>

        
        <a class="flex flex-col pt-4 bg-cyan-950 pb-4  shadow-lg  rounded-lg h-28 transition ease-out duration-300 relative" href="/aboutQues3">
        
            <p class="text-xl hover:text-white font-bold px-4 py-0.75 text-slate-100" style="font-size:1.6vw;"> Which branches have seen the most significant fluctuations in popularity over the past three years? </p>
            <p class="absolute bottom-2 right-2 text-white" style="font-family: commanders;font-size:1.4vw"> Click to view </p>
        
        </a>
        </div>
{% endblock content %}